<ion-header>
  <ion-toolbar>
    <ion-title>movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)">

  </ion-searchbar>
  <ion-label>Select SearchType</ion-label>
  <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
    <ion-select-option value="">All</ion-select-option>
    <ion-select-option value="movie">Movie</ion-select-option>
    <ion-select-option value="series"> Series </ion-select-option>
    <ion-select-option value="episode">Episode</ion-select-option>
  </ion-select>

  <ion-item button [routerLink]="['/','movies']">
    Licenses <br> Categorie description
  </ion-item>

  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/','movies',item.imdbID]">
      {{ item.Title }}
    <ion-avatar slot="start">
      <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
    </ion-avatar>
    <ion-label slot="end">
      <h3 > {{ item.Title }}</h3>
      {{ item.Year }}
    </ion-label>
    <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
    <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
    <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-name-controller-b"></ion-icon>

    </ion-item>
  </ion-list>
</ion-content>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Categorías</ion-text>
      </ion-text>
    </ion-title>
    <!--<ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
    <!--<ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>
